body{
    background-color: #222930;
    color: #000000;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    margin: 0;
    align-items: center;
    height: 10vh;
    color: #4EB1BA;
    font-family: Roboto,sans-serif;
}


.headerPortalname{
    font-family: Poly;
    width: 30vw;
    color: #F2F2F2;
    font-style: italic;
    font-size:1.3em;
    margin-left: 1.5em;
}

.headerUsername{
    font-size: 0.7em;
    float: right;
    width: 15vw;
    text-align: center;
    margin-left: 20%;
}

.exit{
    height: 8vh;
    float: right;
    margin-left: 20%;
}

.Line{

    height: 3vh;
    background-color: #4EB1BA;
}

main{
    height: 90vh;
    padding-top: 1vh;
}

.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
}

.filterName{
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 2px 1px #474143;
    background-color: #E7E8E7;
    outline: none;
    font-family: Roboto;
    color: #474143;
    text-indent: 4%;
    height: 5vh;
    width: 25vw;
    margin: 2%;
}

.FotoBox{
    width: 14.3em;
    height: auto;
    margin: 1% 0 2% 2%;
    float: left;
    vertical-align: middle;
    text-align: center;
}

.FotoBox h2{
    font-size: 1em;
    padding: 0.8%;
    margin-top: -1%;
}

.rectangleBox{
    background-color: #4EB1BA;
    text-align: center;
    display: flex;
    width: 95%;
    height: 11em;
    display: inline-block;
}

.foto{
    width: 80%;
    height: 70%;
    margin-top: -3%;
}

.data{
    float: right;
    font-family: Roboto;
    margin-top: -5%;
    display: inline-block;
}

.fa-heart, .fa-edit, .fa-thumbs-down, .fa-trash{
    font-size: 1.5em;
    color: black;
    padding: 2%;
}

.hashtags{
    width: 100%;
    max-height: calc(22.22vw/9);
    border-radius: 8px;
    box-shadow: 0 2px 1px #474143;
    background-color: #E7E8E7;
    font-size: 1em;
    text-align: left;
    overflow-y: hidden;
    display: flex;
    justify-content: left;
}

.comment{
    width: 100%;
    max-height: calc(22.22vw/2);
    margin-top: 3%;
    border-radius: 8px;
    box-shadow: 0 2px 1px #474143;
    background-color: #E7E8E7;
    font-size: 1em;
    text-align: center;
    overflow-y: hidden;
}

footer{
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
    bottom: 0;
}

.footherBlock{
    //float: left;
    font-size: 1em;
    color: black;
    font-family: Poly,sans-serif;
    margin-left: 1.5em;
}

.fafafa{
    color: #4EB1BA;
    margin-left: 28%;
}
 .fa-chevron-down{
     font-size: 3em;
     padding: 0 10%;
     margin-left: 30%;
 }

.footherBack{
    font-size: 1.2em;
    font-family: Poly,sans-serif;
    color: #F2F2F2;
    margin-left: 25%;
}

@font-face {
    font-family: Roboto;
    src: url("fonts/3966.ttf");
}

@media screen and (max-width: 960px) {

    .FotoBox{
        width: 11em;
        height: auto;
        margin: 1% 0 2% 2%;
        float: left;
        vertical-align: middle;
        text-align: center;
    }

    .FotoBox h2{
        font-size: 0.9em;
        padding: 0.8%;
        margin-top: -1%;
    }

    .rectangleBox{
        background-color: #4EB1BA;
        text-align: center;
        display: flex;
        width: 85%;
        height: 9em;
        display: inline-block;
    }

    .foto{
        width: 80%;
        height: 70%;
        margin-top: -3%;
    }

    .data{
        float: right;
        font-family: Roboto;
        margin-top: -5%;
        display: inline-block;
    }

    .fa-heart, .fa-edit, .fa-thumbs-down, .fa-trash{
        font-size: 0.9em;
        color: black;
        padding: 2%;
    }

    .hashtags{
        width: 100%;
        max-height: calc(22.22vw/10);
        border-radius: 7px;
        box-shadow: 0 2px 1px #474143;
        background-color: #E7E8E7;
        font-size: 0.9em;
        text-align: left;
        overflow-y: hidden;
        display: flex;
        justify-content: left;
    }

    .comment{
        width: 100%;
        max-height: calc(22.22vw/3);
        margin-top: 3%;
        border-radius: 8px;
        box-shadow: 0 2px 1px #474143;
        background-color: #E7E8E7;
        font-size: 1em;
        text-align: center;
        overflow-y: hidden;
    }

}

/*
@media screen and (max-width: 480px) {
    .FotoBox{
        width: 8.3em;
        height: auto;
        margin: 1% 0 2% 2%;
        float: left;
        vertical-align: middle;
        text-align: center;
    }

    .FotoBox h2{
        font-size: 0.6em;
        padding: 0.8%;
        margin-top: -1%;
    }

    .rectangleBox{
        background-color: #4EB1BA;
        text-align: center;
        width: 95%;
        height: 8em;
        display: inline-block;
    }

    .foto{
        width: 80%;
        height: 70%;
        margin-top: -3%;
    }

    .data{
        float: right;
        margin-top: -5%;
        display: inline-block;
    }

    .fa-heart, .fa-edit, .fa-thumbs-down, .fa-trash{
        font-size: 0.7em;
        color: black;
        padding: 2%;
    }

    .hashtags{
        width: 100%;
        max-height: calc(22.22vw/12);
        border-radius: 8px;
        box-shadow: 0 2px 1px #474143;
        background-color: #E7E8E7;
        font-size: 0.9em;
        text-align: left;
        overflow-y: hidden;
        display: flex;
        justify-content: left;
    }

    .comment{
        width: 100%;
        max-height: calc(22.22vw/4);
        margin-top: 3%;
        border-radius: 8px;
        box-shadow: 0 2px 1px #474143;
        background-color: #E7E8E7;
        font-size: 1em;
        text-align: center;
        overflow-y: hidden;
    }

}*/
