body{
    background-color: #222930;
    color: #000000;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    margin: 0;
    align-items: center;
    height: 10vh;
    color: #4EB1BA;
    font-family: Roboto,sans-serif;
}

.logo{
    width: 45%;
    height: 35%;
    float: left;
    margin: 20%;
}

.headerPortalname{
    font-family: Poly;
    width: 30vw;
    color: #F2F2F2;
    font-style: italic;
    font-size:1.3em;
}

.headerUsername{
    font-size: 0.7em;
    float: right;
    width: 15vw;
    text-align: center;
    margin-left: 20%;
}

.exit{
    height: 8vh;
    float: right;
    margin-left: 18%;
}

.Line{

    height: 3vh;
    width: 100vw;
    background-color: #4EB1BA;
}

main{
    height: 90vh;
    padding-top: 1vh;
}

.rectangle{
    margin: 2%;
    background-color: #4EB1BA;
    float: right;
    width: 21%;
    height: auto;
}

.filter{
    width: 100%;
}

.editForm{
    text-align: center;
    width: 100%;
    float: left;
    font-family: Poly;
    font-size: 1em;

}

.filterName{
    border-style: none;
    border-radius: 20px;
    box-shadow: 0 2px 1px #474143;
    background-color: #E7E8E7;
    outline: none;
    font-family: Roboto;
    color: #474143;
    text-indent: 4%;
    height: 5vh;
    width: 20vw;
    margin: 2%;
}

.FotoBoxTop{
    width: 25%;
    padding: 3%;
    height: auto;
    margin: 1% 0 1% 2%;
    float: left;
    vertical-align: middle;
    text-align: center;
}
.rectangleBoxTop{
    background-color: #4EB1BA;
    text-align: center;
    display: flex;
    width: 100%;
    height: 80%;
    display: inline-block;
}

.FotoBox{
    //clear: left;
    width: 12.3em;
    height: auto;
    margin: 1% 0 1% 2%;
    float: left;
    vertical-align: middle;
    text-align: center;
}

.FotoBox h2{
    font-size: 1em;
    padding: 0.8%;
    margin-top: -1%;
}

.rectangleBox{
    background-color: #4EB1BA;
    text-align: center;
    display: flex;
    width: 12.22em;
    height: 11em;
    display: inline-block;
    //justify-content: center;
}

.foto{
    width: 80%;
    height: 70%;
    margin-top: -3%;
}

.data{
    float: right;
    font-family: Roboto;
    margin-top: -5%;
    display: inline-block;
}

.fa-heart, .fa-edit, .fa-delete{
    font-size: 1.2em;
    color: black;
    padding: 1%;
}

.hashtags{
    width: 100%;
    //height: 10%;
    max-height: calc(22.22vw/5);
    //margin-top: -1%;
    border-radius: 8px;
    box-shadow: 0 2px 1px #474143;
    background-color: #E7E8E7;
    font-size: 0.8em;
    text-align: left;
    overflow-y: hidden;
    display: flex;
    justify-content: left;
}

.comment{
    width: 100%;
    max-height: calc(22.22vw/2);
    margin-top: 3%;
    border-radius: 8px;
    box-shadow: 0 2px 1px #474143;
    background-color: #E7E8E7;
    font-size: 1em;
    text-align: center;
    overflow-y: hidden;
}

footer{
    display: flex;
    height: 20%;
    width: 100%;
    bottom: 0;
}

.footherBlock{
    float: left;
    font-size: 1em;
    color: black;
    font-family: Poly;
}

.fas_fa-arrow-down{
    margin: 5%;
    color: #4EB1BA;
}

.footherBack{
    float: right;
    font-size: 1.2em;
    font-family: Poly;
    color: #F2F2F2;
}

@font-face {
    font-family: Roboto;
    src: url("fonts/3966.ttf");
}

@media screen and (max-width: 960px) {

    .rectangle {
        margin: 2%;
        background-color: #4EB1BA;
        float: right;
        width: 15%;
        height: auto;
    }

    .filter {
        width: 100%;
    }

    .editForm {
        text-align: center;
        width: 100%;
        float: left;
        font-family: Poly;
        font-size: 1em;

    }

    .filterName {
        border-style: none;
        border-radius: 20px;
        box-shadow: 0 2px 1px #474143;
        background-color: #E7E8E7;
        outline: none;
        font-family: Roboto;
        color: #474143;
        text-indent: 4%;
        height: 5vh;
        width: 15vw;
        margin: 2%;
    }

    .FotoBoxTop {
        width: 20%;
        padding: 3%;
        height: auto;
        margin: 1% 0 1% 2%;
        float: left;
        vertical-align: middle;
        text-align: center;
    }

    .rectangleBoxTop {
        background-color: #4EB1BA;
        text-align: center;
        display: flex;
        width: 100%;
        height: 80%;
        display: inline-block;
    }

    .FotoBox {
    / / clear: left;
        width: 10.3em;
        height: auto;
        margin: 1% 0 1% 2%;
        float: left;
        vertical-align: middle;
        text-align: center;
    }

    .FotoBox h2 {
        font-size: 1em;
        padding: 0.8%;
        margin-top: -1%;
    }

    .rectangleBox {
        background-color: #4EB1BA;
        text-align: center;
        display: flex;
        width: 12.22em;
        height: 11em;
        display: inline-block;
    / / justify-content: center;
    }

    .foto {
        width: 80%;
        height: 70%;
        margin-top: -3%;
    }

    .data {
        float: right;
        font-family: Roboto;
        margin-top: -5%;
        display: inline-block;
    }

    .fa-heart, .fa-edit, .fa-delete {
        font-size: 1.2em;
        color: black;
        padding: 1%;
    }

    .hashtags {
        width: 100%;
        max-height: calc(22.22vw / 5);
        border-radius: 8px;
        box-shadow: 0 2px 1px #474143;
        background-color: #E7E8E7;
        font-size: 0.8em;
        text-align: left;
        overflow-y: hidden;
        display: flex;
        justify-content: left;
    }

    .comment {
        width: 100%;
        max-height: calc(22.22vw / 2);
        margin-top: 3%;
        border-radius: 8px;
        box-shadow: 0 2px 1px #474143;
        background-color: #E7E8E7;
        font-size: 1em;
        text-align: center;
        overflow-y: hidden;
    }
}

@media screen and (max-width: 480px) {
    .Line {

        height: 3vh;
        width: 100vw;
        background-color: #4EB1BA;
    }

    main {
        height: 90vh;
        padding-top: 1vh;
    }

    .rectangle {
        margin: 2%;
        background-color: #4EB1BA;
        float: right;
        width: 21%;
        height: auto;
    }

    .filter {
        width: 100%;
    }

    .editForm {
        text-align: center;
        width: 100%;
        float: left;
        font-family: Poly;
        font-size: 1em;

    }

    .filterName {
        border-style: none;
        border-radius: 20px;
        box-shadow: 0 2px 1px #474143;
        background-color: #E7E8E7;
        outline: none;
        font-family: Roboto;
        color: #474143;
        text-indent: 4%;
        height: 5vh;
        width: 20vw;
        margin: 2%;
    }

    .FotoBoxTop {
        width: 25%;
        padding: 3%;
        height: auto;
        margin: 1% 0 1% 2%;
        float: left;
        vertical-align: middle;
        text-align: center;
    }

    .rectangleBoxTop {
        background-color: #4EB1BA;
        text-align: center;
        display: flex;
        width: 100%;
        height: 80%;
        display: inline-block;
    }

    .FotoBox {
    / / clear: left;
        width: 12.3em;
        height: auto;
        margin: 1% 0 1% 2%;
        float: left;
        vertical-align: middle;
        text-align: center;
    }

    .FotoBox h2 {
        font-size: 1em;
        padding: 0.8%;
        margin-top: -1%;
    }

    .rectangleBox {
        background-color: #4EB1BA;
        text-align: center;
        display: flex;
        width: 12.22em;
        height: 11em;
        display: inline-block;
    / / justify-content: center;
    }

    .foto {
        width: 80%;
        height: 70%;
        margin-top: -3%;
    }

    .data {
        float: right;
        font-family: Roboto;
        margin-top: -5%;
        display: inline-block;
    }

    .fa-heart, .fa-edit, .fa-delete {
        font-size: 1.2em;
        color: black;
        padding: 1%;
    }

    .hashtags {
        width: 100%;
    / / height: 10 %;
        max-height: calc(22.22vw / 5);
    / / margin-top: - 1 %;
        border-radius: 8px;
        box-shadow: 0 2px 1px #474143;
        background-color: #E7E8E7;
        font-size: 0.8em;
        text-align: left;
        overflow-y: hidden;
        display: flex;
        justify-content: left;
    }

    .comment {
        width: 100%;
        max-height: calc(22.22vw / 2);
        margin-top: 3%;
        border-radius: 8px;
        box-shadow: 0 2px 1px #474143;
        background-color: #E7E8E7;
        font-size: 1em;
        text-align: center;
        overflow-y: hidden;
    }
}